._qWTcH {
  --fcc-flip-duration: 0.7s;
  --fcc-digit-block-width: 46px;
  --fcc-digit-block-height: 80px;
  --fcc-digit-font-size: 50px;
  --fcc-label-font-size: 16px;
  --fcc-label-color: #fff;
  --fcc-background: #0f181a;
  --fcc-digit-color: #fff;
  --fcc-divider-color: hsla(0, 0%, 100%, 0.4);
  --fcc-divider-height: 1px;
  --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  --fcc-separator-size: 5px;
  --fcc-separator-color: var(--fcc-digit-color);
  font-family: inherit;
  font-size: var(--fcc-digit-font-size);
  color: var(--fcc-digit-color);
  line-height: 0;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  gap: 16px;
}
._1tbqx ._3cpN7 {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._3cpN7 ._2EBbg:not(:last-child) {
  margin-right: 4px;
}
._3cpN7 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
._2aOn7 {
  color: var(--fcc-label-color);
  line-height: 1;
  font-weight: 400;
  font-size: var(--fcc-label-font-size);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 150%);
}
._2EBbg {
  perspective: 200px;
  position: relative;
  width: var(--fcc-digit-block-width);
  height: var(--fcc-digit-block-height);
  box-shadow: var(--fcc-shadow);
  border-radius: 4px;
}
._106d2,
._SKh-V {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* background: var(--fcc-background); */
  background: url("/image/home/countdown/CardBottomHalf.svg");
}
._SKh-V {
  align-items: flex-end;
  top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color); */
  background: url("/image/home/countdown/CardTopHalf.svg");
  font-family: "Fredoka", cursive !important;
}
._106d2 {
  align-items: flex-start;
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "Fredoka", cursive !important;
}
._3luxx {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
  background: url("/image/home/countdown/CardTopHalf.svg");
  font-family: "Fredoka", cursive !important;
}
._3luxx._2kgZC {
  transition: transform var(--fcc-flip-duration) ease-in-out;
  transform: rotateX(-180deg);
}
._2v-d4 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  font-family: "Fredoka", cursive !important;

  /* background: var(--fcc-background); */
  /* background: url("/image/home/countdown/CardTopHalf.svg"); */
}
._1GZQ7 {
  align-items: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color); */
}
._3AVXa {
  align-items: flex-start;
  transform: rotateX(-180deg);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
._2hRXr {
  margin-left: 8px;
  margin-right: 8px;
  height: var(--fcc-digit-block-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._1tbqx ._2hRXr {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._2hRXr:after,
._2hRXr:before {
  content: "";
  width: var(--fcc-separator-size);
  height: var(--fcc-separator-size);
  border-radius: 50%;
  background-color: var(--fcc-separator-color);
}
._2hRXr:before {
  margin-bottom: var(--fcc-separator-size);
}
